@use "./colors" as *;

.main {
  &__cards {
    background-image: url("../images/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 210px;
    color: $light-grayish-violet;

    &-container {
      width: min(65ch, 100% - 2rem);
      margin-inline: auto;
      display: flex;
      flex-direction: column-reverse;
      padding-block-start: 2rem;
    }

    &-front {
      align-self: flex-start;
      background-image: url("../images/bg-card-front.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 280px;
      border-radius: 0.5rem;
      position: relative;
      bottom: 4rem;
      z-index: 10;
      padding: 1rem;
    }

    &-top {
      background-image: url("../images/card-logo.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 35px;
      margin-block-end: 2rem;
    }

    &-number {
      margin-block-end: 1rem;
      margin-inline: auto;
      width: 95%;
      font-size: 1em;
      letter-spacing: 0.1rem;
    }

    &-data {
      display: flex;
      justify-content: space-between;
      font-size: 0.65em;

      & > span:first-of-type {
        text-transform: uppercase;
        letter-spacing: 0.1rem;
      }
    }

    &-back {
      align-self: flex-end;
      background-image: url("../images/bg-card-back.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 150px;
      width: 280px;
      border-radius: 0.5rem;
      position: relative;

      & > span {
        position: absolute;
        right: 35px;
        top: 68px;
        font-size: 0.65em;
        color: $white;
      }
    }
  }

  &__form-wrap {
    margin-block-start: 7rem;
    margin-block-end: 2rem;
  }

  &__form {
    &-label {
      color: $very-dark-violet;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      font-size: 0.7em;
    }

    input[type="text"] {
      border: 1px solid $light-grayish-violet;
      border-radius: 0.5rem;
      padding: 0.8rem 1rem;
      margin-block-start: 0.5rem;
      margin-block-end: 1rem;
      width: 100%;
    }

    input:invalid {
      outline: $primary-red solid 1px;
    }

    &-flex {
      display: flex;
      gap: 1rem;
    }

    input[data-number="number"] {
      text-transform: uppercase;
    }

    input[data-number="number"]::placeholder {
      text-transform: lowercase;
    }

    &-box--date {
      label {
        display: block;
      }

      input {
        display: inline-block;
        width: 70px !important;
        margin-block-end: 0 !important;
      }

      .error {
        bottom: -0.4rem;
      }
    }

    &-box--cvc {
      margin-top: -0.4rem;

      input {
        width: 160px !important;
      }
    }

    &-confirm {
      background-color: $very-dark-violet;
      color: $white;
      padding: 0.7rem 0;
      width: 100%;
      border-radius: 0.5rem;
    }
  }

  &__form-wrap,
  &__completed {
    width: min(65ch, 100% - 2rem);
    margin-inline: auto;
  }

  &__completed {
    display: none;
    margin-block-start: 6.5rem;
    text-align: center;

    & > * {
      margin-block-start: 3rem;
    }

    & > img {
      margin-inline: auto;
    }

    &-title {
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      font-weight: 500;
    }

    &-description {
      margin-block-start: 1rem;
      color: $dark-grayish-violet;
    }

    &-continue {
      @extend .main__form-confirm;
    }
  }
}

.error > p {
  margin-block-end: 1rem;
  position: relative;
  color: $primary-red;
  bottom: 0.5rem;
  font-size: 0.8rem;
}

.error > input {
  border: 1px solid $primary-red !important;
}

.success > input {
  border: 1px solid $light-grayish-violet;
}
